<h1><center> Lecture 1 Python Basics notebook </center></h1>

In this notebook you will see some elementary python. The main purpose of using this notebook is simply to confirm that you can run it and understand what it is doing without difficulty. 

**Questions** are in bold. These are not mandatory or graded, they are simply to encourage you to think how you could answer them.

This notebook closely follows sections of the Python manual: https://docs.python.org/3.7/tutorial/index.html

Contacts are in the first point the TAs:

Cristian Rodriguez Rivero: c.m.rodriguezrivero@uva.nl

Sara Mahdavi Hezavehi: s.mahdavihezavehi@uva.nl 

Reshmi Gopalakrishna Pillai: r.gopalakrishnapillai@uva.nl 

Tom van Sonsbeek: t.j.vansonsbeek@uva.nl 

Jia-Hong Huang: j.huang@uva.nl

or in the second point, the course coordinator

Andrew Brown: a.g.brown@uva.nl

<h1><center> Input and control statements </center></h1>

In [1]:
x = int(input("Please enter an integer: "))

Please enter an integer: 300

In [2]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

**Q: Can you make a control function for two inputs?**

**A**

In [3]:
x, y = map(int, input("Please enter two integers (space in between): ").split())
print(x)
print(y)

print(type(x))
print(type(y))

Please enter two integers (space in between): 222 111
222
111
<class 'int'>
<class 'int'>

In [4]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits[4]

'kiwi'

In [5]:
fruits.count('apple')

2

In [6]:
fruits.index('banana')

3

In [7]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

**Q: Can you work out how to insert a new object in the middle of the above list?**

**A**

In [8]:
fruits.insert(3, 'dragon fruit')
fruits

['apple',
 'apple',
 'banana',
 'dragon fruit',
 'banana',
 'kiwi',
 'orange',
 'pear']

<h1><center> Loops </center></h1>

In [9]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [10]:
for i in range(5,10):
    print(i)

5
6
7
8
9

**Q: For the list ['cat', 'window', 'defenestrate'], can you work out how to output both the index - 0, 1 or 2 - and the entry - 'cat', 'window', 'defenestrate' - in the list on the same line in the print loop?**

**A**

In [15]:
for i, val in enumerate(words): 
    print (i, ",",val)

0 , cat
1 , window
2 , defenestrate

<h1><center> Dictionaries </center></h1>

In [11]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [12]:
tel['jack']

4098

In [13]:
tel.keys()

dict_keys(['jack', 'sape', 'guido'])

In [14]:
'guido' in tel
True

True

**Q: Can you output all the entries in this dictionary, line by line?**

**A**

In [16]:
for key, value in tel.items():
    print(key + " => " + str(value))

jack => 4098
sape => 4139
guido => 4127